.container{
    background-image: url(assets/backgrounds/landing.jpg);
    height: 830px;
    margin: 0px 50px 0px 50px;
    background-size: cover;
    color:white;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.container>p{
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 1em;
}

.grid{
    display: flex;
    flex-direction: row;
    margin: 0px 50px 0px 50px;

}


.breakfast, .lunch, .dinner{
    display: flex;
    justify-content: center;
    align-content: center;

}
.offer, .breakfast, .lunch, .dinner{
    height: 200px;
    flex: 1;
    
    
}


.offer{
    display: flex;
    flex-direction: column;
}

#happy-hour{
    background-color: rgb(221, 216, 216);
    height: 50%;
}

#party-time{
    background-color: red;
    height: 50%;
}

.breakfast{
    background-image: url("assets/foodtop/breakfast.jpg");
    background-size: cover;
    display: flex;
   

}

.lunch{
    background-image: url("assets/foodtop/lunch.jpg");
    background-size: cover;
    opacity: 0.4;
}

.dinner{
    background-image: url("assets/foodtop/dinner.jpg");
    background-size: cover;
}

.breakfast>p, .lunch>p, .dinner>p{
    color: white;
    text-align: center;
    font-style: italic;

}


.meal{
    display: flex;
    flex-direction: row;
}


.fast-food-images{
    margin-top: 100px;
    margin-left: 300px;
    height: 400px;
    width: 570px;
    display: flex;
    flex-direction: column;
    border: 20px solid white;
    box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
    -moz-box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
    -webkit-box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
    -o-box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
    }


#image1{
    background-image: url("assets/fastFood1.jpg");
    background-size: cover;
    height: 50%;

}

#image2{
    background-image: url("assets/fastFood2.jpg");
    background-size: cover;
    height: 50%;
}


.fast-food-description{
    margin-top: 100px;
    margin-left: 70px;
    height: 400px;
    width: 570px;

}

.drinks-description{
    margin-top: 100px;
    margin-left: 300px;
    height: 400px;
    width: 570px;
    display: flex;
    flex-direction: column;
    
}


.drinks-images{
    margin-left: 60px;
    margin-top: 100px;
    height: 400px;
    width: 570px;
    display: flex;
    border: 20px solid white;
    box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
    -moz-box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
    -webkit-box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
    -o-box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
    

}

#image3{
    background-image: url("assets/drink1.jpg");
    background-size: cover;
    width: 50%;

}

#image4{
    background-image: url("assets/drink2.jpg");
    background-size: cover;
    width: 50%;
}


.fast-food-container{
    background-image: url(assets/backgrounds/foodsBg.jpg);
    opacity: 0.8;
    height: 800px;
    display: flex;
    margin: 50px;


}

.box-food-model{
    height: 600px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 100px 200px 100px 200px;


}

.box-top-bar{
    display: flex;
    flex-direction: row;
    margin: 0px;
    width: 100%;
    font-weight: bold;
    text-align: center;

}
#fast-food, #drinks, #chicken, #rice{
    height: 100px;
    flex: 1;

}

#drinks, #chicken, #rice{
    background-color: rgb(207, 212, 218);
    border: 1px solid rgb(146, 142, 142);

}

.main-burger-box{
    display: flex;
    flex-direction: row;
    margin: 50px 50px 50px 50px;
    height: 400px;

}

#arrow {
        border: solid red;
        border-width: 0 3px 3px 0;
        display: flex;
        padding: 3px;

}

#left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
.burger-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 50px;
    opacity: none ;
    text-align: center;
    font-weight: bold;
    color: red;




}


#chicken-burger{
    background-image: url(assets/fastfood/chickenBurger.jpg);
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

#beef-burger{
    background-image: url(assets/fastfood/beefBurger.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;

    
}
    

#chicken-pizza{
    background-image: url(assets/fastfood/chickenPizza.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;  

}


.customers{
    margin: 100px 250px 100px 250px;
    height: 200px;
    display: flex;
    flex-direction: row;
    border: 20px solid white;
    box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
    -moz-box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
    -webkit-box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
    -o-box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
}

.happy-customers{
    width: 60%;
    border-right: 2px solid rgb(218, 219, 221);
    display: flex;
    justify-content: center;
}

.about-menu{
    width:40%;
    display: flex;
    justify-content: center;
}

.happy-customers>h2, .about-menu>h2{
    color: red;
}

.subscribe{
    background-image: url(assets/backgrounds/subscribe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    margin: 0px 50px 0px 50px;

}

.subscribe-content{
    margin: 70px 500px 50px;
    color: white;
    display: flex;
    flex-direction: column;
    

}

.subscribe-input{
    display: flex;
    flex-direction: row;
    color: white;
}

.subscribe-content> h2{
    font-size: 30px;
}

input[type=text], select {
    width: 360px;
    height: 50px;
    padding: 14px 20px;
    font-size: 17px;
    font-weight:bold;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: rgb(137, 141, 141);
    opacity: 0.5;



}

::placeholder {
    color:white;
    opacity: 1; /* Firefox */
    font-weight: 500;
  }

input[type=submit] {
    height: 48px;
    width: 220px;
    margin-left: 30px;
    background-color: red;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    font-size: 17px;
    font-weight: 550;

  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }




footer{
    background-color: rgb(238, 87, 49);
    height: 400px;
    display: flex;
    margin: 0px 50px 0px 50px;
    flex-direction: column;


}

.footer-contents{
margin-top: 70px;
margin-left: 800px;
display: flex;
flex-direction: column;
}

#menu, #logos{
    display: flex;
    flex-direction: row;
    color: white;
    height: 50px;
}

#menu>p{
    margin-top: 20px;
    margin-left: 20px;


}