.container{
    background-image: url(../assets/backgrounds/landing.jpg);
    height: 700px;
    margin: 0px 100px 0px 100px;
    background-size: cover;
    background-repeat: no-repeat;
    color:white;

  
}
.menu-icon{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

#one, #two, #three{
    width: 50px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    border-radius: 1px;
  }

#one{
    margin-top: 100px;

}

.motto{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#paragraph-two>p{
    margin-top: 0px;
}
#paragraph-one>p, #paragraph-two>p{
    text-transform: capitalize;
    font-family:'Times New Roman', Times, serif;
    font-weight:lighter;
    font-size: 2em;
    text-align: center;
    opacity: 0.8;
    
    
}


.grid{
    display: flex;
    flex-direction: row;
    margin: 0px 100px 0px 100px;

}


.breakfast, .lunch, .dinner{
    display: flex;
    justify-content: center;
    align-content: center;

}
.offer, .breakfast, .lunch, .dinner{
    height: 200px;
    flex: 1;
    
    
}


.offer{
    display: flex;
    flex-direction: column;
}

#happy-hour{
    background-color: rgb(221, 216, 216);
    height: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    opacity: 0.7;

}

#party-time{
    background-color:#F15A29;
    height: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    font-weight: 540;

}


#happy-hour>p, #party-time>p{
    margin-top: 40px;
    font-size: 30px;
}

.breakfast{
    background-image: url("../assets/foodtop/breakfast.jpg");
    background-size: cover;
    display: flex;
   

}

.lunch{
    background-image: url("../assets/foodtop/lunch.jpg");
    background-size: cover;
    opacity: 0.4;
}

.dinner{
    background-image: url("../assets/foodtop/dinner.jpg");
    background-size: cover;
}

.breakfast>p, .lunch>p, .dinner>p{
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 90px;
    font-size: 30px;

}


.meal{
    display: flex;
    flex-direction: row;
}


.fast-food-images{
    margin-top: 100px;
    margin-left: 300px;
    height: 400px;
    width: 570px;
    display: flex;
    flex-direction: column;
    border: 20px solid white;
    box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
    -moz-box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
    -webkit-box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
    -o-box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
    }


#image1{
    background-image: url("../assets/fastFood1.jpg");
    background-size: cover;
    height: 50%;

}

#image2{
    background-image: url("../assets/fastFood2.jpg");
    background-size: cover;
    height: 50%;
}


.fast-food-description{
    margin-top: 100px;
    margin-left: 70px;
    margin-right: 250px;
    height: 400px;
    width: 400px;
    text-align: left;

}

.fast-food-description>h2{
    font-family:serif;
    opacity: 0.7;
    font-size: 36px;
    margin-top: 3px;


}

.fast-food-description>h4,.fast-food-description>p{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0.6;
    font-size: 14px;
    line-height: 1.5;



}



.view-gallery{
    height: 50px;
    width: 180px;
    border: 1px solid #F15A29;
    margin-top: 30px;
    display: flex;
    flex-direction: row;

}

.view-gallery>p{
    color:#F15A29;
    margin-left: 20px;
    font-weight: bold;
}


.drinks-description{
    margin-top: 120px;
    margin-left: 450px;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
}
.drinks-description>h4, .drinks-description>p{
    text-align: right;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0.7;
    margin-top: 3px;


}

.drinks-description>h2{
    text-align: right;
    font-family:serif;
    opacity: 0.7;
    font-size: 36px;
    margin-top: 3px;

}

.drinks-description>h4, .fast-food-description>h4{
    font-size: 20px;

}

.drinks-description>p, .fast-food-description>p{
    font-weight: 540;
    opacity: 0.6;
    font-size: 14px;
    line-height: 1.8;
}

.drinks-description> .view-gallery{
    margin-left: 215px;
    margin-top: 10px;
    
}
.drinks-images{
    margin-left: 60px;
    margin-top: 100px;
    height: 400px;
    width: 570px;
    display: flex;
    border: 20px solid white;
    box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
    -moz-box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
    -webkit-box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
    -o-box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
    

}

#image3{
    background-image: url("../assets/drink1.jpg");
    background-size: cover;
    width: 50%;

}

#image4{
    background-image: url("../assets/drink2.jpg");
    background-size: cover;
    width: 50%;
}


.fast-food-container{
    background-image: url(../assets/backgrounds/foodsBg.jpg);
    height: 650px;
    opacity: 0.85;
    display: flex;
    margin: 100px 100px 0px 100px;


}

.box-food-model{
    height: 450px;
    width: 100%;
    background-color: white;
    opacity: none;
    display: flex;
    flex-direction: column;
    margin: 100px 200px 100px 200px;


}

.box-top-bar{
    display: flex;
    flex-direction: row;
    margin: 0px;
    width: 100%;
    font-weight: bold;
    text-align: center;

}
#fast-food, #drinks, #chicken, #rice{
    height: 70px;
    flex: 1;


}

#fast-food>p{
    color: #F15A29;
    margin-top: 25px;
    font-size: 20px;

}

#drinks, #chicken, #rice{
    background-color: lightgray;
    border-bottom: 2px solid rgb(201, 194, 194);
    border-right: 2px solid rgb(201, 194, 194);


}

#drinks{
    border-left: 2px solid rgb(201, 194, 194);

}

#drinks>p, #chicken>p, #rice>p{
    margin-top: 25px;
    font-size: 20px;
    opacity: 0.7;
}

.main-burger-box{
    display: flex;
    flex-direction: row;
    margin: 10px 50px 10px 10px;
    height: 400px;

}

  
.burger-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 40px;
    opacity: none ;
    text-align: center;
    font-weight: bold;
    color: #F15A29;
    opacity: 1.1;




}


#chicken-burger{
    background-image: url(../assets/fastfood/chickenBurger.jpg);
    height: 70%;
    background-size: contain;
    background-repeat: no-repeat;
}

#beef-burger{
    background-image: url(../assets/fastfood/beefBurger.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 70%;

    
}
    

#chicken-pizza{
    background-image: url(../assets/fastfood/chickenPizza.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 70%;  

}


.customers{
    margin: 100px 320px 100px 320px;
    height: 200px;
    display: flex;
    flex-direction: row;
    border: 20px solid white;
    box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
    -moz-box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
    -webkit-box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
    -o-box-shadow: 0 0 20px rgba(109, 107, 107, 0.6);
}

.happy-customers{
    width: 60%;
    border-right: 2px solid rgb(218, 219, 221);
    display: flex;
    flex-direction: column;
    text-align:center;
    
}

.happy-customers>h2,.happy-customers>h4,.happy-customers>p{
    margin: 10px 70px 5px 100px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.happy-customers>h4,.happy-customers>p, .about-menu>p{
    font-size: 15px;
}

.about-menu{
    width:40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;

}

.happy-customers>h2, .about-menu>h2{
    color:#F15A29;
    margin-top: 5px;
    font-size: 18px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.happy-customers>h4,.happy-customers>p, .about-menu>p{
    opacity: 0.6;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.customer-images{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
}

.arrow {
    border: solid #F15A29;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 5px;
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: 10px;
  }

.about-menu>p{
    margin: 0px 20px 0px 20px;
    line-height: 1.5;

}


.subscribe{
    background-image: url(../assets/backgrounds/subscribe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    margin: 0px 100px 0px 100px;

}

.subscribe-content{
    margin: 70px 00px 50px 550px;
    color: white;
    display: flex;
    flex-direction: column;
    

}

.subscribe-input{
    display: flex;
    flex-direction: row;
    color: white;
}

.subscribe-content> h2{
    font-size: 30px;
}

input[type=text], select {
    width: 360px;
    height: 50px;
    padding: 14px 20px;
    font-size: 17px;
    font-weight:bold;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: rgb(137, 141, 141);
    opacity: 0.5;



}

::placeholder {
    color:white;
    opacity: 1; 
    font-weight: 500;
  }

input[type=submit] {
    height: 48px;
    width: 220px;
    margin-left: 30px;
    background-color:#F15A29;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    font-size: 17px;
    font-weight: 550;

  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }




footer{
    background-color: #F15A29;
    height: 310px;
    display: flex;
    margin: 0px 100px 0px 100px;
    flex-direction: column;


}

.footer-contents{
margin-top: 0px;
margin-left: 680px;
margin-right: 750px;
display: flex;
flex-direction: column;
}



#menu, #slogan, #logos{
    display: flex;
    flex-direction: row;
    color: white;

}

#menu{
    margin-top: 10px;
    height: 60px;
}

#menu-logo{
    margin-top: 35px;
}

#menu-caption>p{
    margin-top: 35px;
    padding-left: 12px;
    font-size: 40px;
    font-weight: lighter;


}
#slogan{
    padding-top: 0px;
    margin-top: 25px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
}
#logos{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;


}


.foot-note{
    margin: 10px 650px 5px 700px;
    color: white;

}